<h3>Edit this project:</h3>
  <form action="/projects/<%= @project.id %>/update" method="post">
    <div class="form-group">
      <label for="title" class="form-label">Title your project:</label>
      <input type="text" name="title" value="<%= @project.title %>" class="form-control" id="title" placeholder="Title of Project" autofocus><br>
      <button type="submit" class="button btn">Update Project</button>
    </div>
  </form>

  <form action="/projects/<%= @project.id %>/delete" method="post">
    <button type="submit">Delete Project</button>
  </form>

  <p><a href="/">Return to Main Page</a></p>
