<h3>Edit this project:</h3>
  <form action="/projects" method="post">
    <div class="form-group">
      <label for="title" class="form-label">Title your project:</label>
      <input type="text" name="title" value=" @projects.value" class="form-control" id="title" placeholder="Title of Project" autofocus><br>
      <button type="button" class="button btn">Update Project</button>
    </div>
    <div class="form-group">
      <button type="button" class="button btn">Delete Project</button>
    </div>
  </form>
